!!!
%html
  %head
    %title ShareVideos
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .row
      .col-12
        %nav.navbar.navbar-light.bg-light.d-flex
          %a.navbar-brand.mr-auto Funny Movies
          - if current_user
            %strong= current_user.full_name
            = link_to 'Sign out', destroy_user_session_path, class: 'btn btn-outline-success my-2 my-sm-0', method: :delete
          - else
            %form.form-inline
              = form_for(User.new, as: :user, url: session_path(:user), html: { class: 'form-signin' }) do |f|
                .form-group.mr-2
                  = f.email_field :email, placeholder: 'Email', autofocus: true, autocomplete: "email", class: 'form-control'
                .form-group
                  = f.password_field :password, placeholder: 'Password', autocomplete: "current-password", class: 'form-control'
                .actions
                  = f.submit "Signin", class: 'btn btn-outline-success my-2 my-sm-0'
              = link_to 'Register', new_user_registration_path, class: 'btn btn-outline-success my-2 my-sm-0'
    = yield